<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.imogene.tools.androidhelper.builder.WJavaBuilder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.imogene.tools.androidhelper.builders.WJavaBuilder">
         </run>
      </builder>
   </extension>

</plugin>
