<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.imogene.tools.libraryhelper.ClassContainerInitializer"
            id="org.imogene.tools.libraryhelper.IMOGENE_DEV_LIB">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.imogene.tools.libraryhelper.ContainerWizardPage"
            id="org.imogene.tools.libraryhelper.IMOGENE_DEV_LIB"
            name="Imogene developement library">
      </classpathContainerPage>
   </extension>

</plugin>
