<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.imogene.rcp.contrib.objectContribution4"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.imogene.rcp.contrib.RcpGenerationAction"
               icon="icons/eclipse.png"
               id="org.imogene.rcp.contrib.RcpGenerationAction"
               label="Desktop RCP generation"
               menubarPath="imogene.gen.menu/generator">
         </action>
      </objectContribution>
   </extension>

</plugin>
