<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="Modules" name="Imogene modules" schema="schema/Module.exsd"/>
   <extension-point id="Entity" name="Imogene entities definition" schema="schema/Entity.exsd"/>
   <extension-point id="Driver" name="Imogene drivers" schema="schema/Driver.exsd"/>
   <extension-point id="DataHandler" name="Imogene DataHandler" schema="schema/DataHandler.exsd"/>
   <extension-point id="ClassConverter" name="Imogene class converter for XML serialization" schema="schema/ClassConverter.exsd"/>
   <extension-point id="PropertyConverter" name="Imogene property converter for XML serialization" schema="schema/PropertyConverter.exsd"/>
   <extension-point id="DocPart" name="Doc part" schema="schema/DocPart.exsd"/>
   <extension-point id="CloseValidator" name="Close validator" schema="schema/CloseValidator.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.imogene.rcp.core.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.imogene.rcp.core.Perspective"
            id="Imogene.perspective"
            name="%perspective.name">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.imogene.rcp.core.View"
            id="Imogene.view"
            name="%view.name.view">
      </view>
      <view
            allowMultiple="false"
            class="org.imogene.rcp.core.view.SyncViewImpl"
            icon="icons/sync-16x16.png"
            id="Imogene.SyncView"
            name="%view.name.sync">
      </view>
      <view
            class="org.imogene.rcp.core.view.HelpView"
            icon="icons/system_help_16.png"
            id="Imogene.HelpView"
            name="%view.name.help">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="modulesActionSet"
            label="%actionSet.label.0"
            visible="true">
         <menu
               id="modulesMenu"
               label="%menu.label.module"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="toolsActionSet"
            label="%actionSet.label.1"
            visible="true">
         <menu
               id="toolsMenu"
               label="%menu.label.tools">
            <groupMarker
                  name="content">
            </groupMarker>
         </menu>
         <action
               class="org.imogene.rcp.core.actions.SyncAction"
               icon="icons/sync-16x16.png"
               id="SyncActions"
               label="%action.label.sync"
               menubarPath="toolsMenu/content">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.imogene.rcp.core.preferences.TerminalPreferencePage"
            id="Imogene.TerminalPref"
            name="%page.name.terminal">
      </page>
      <page
            class="org.imogene.rcp.core.preferences.SyncPreferencePage"
            id="Imogene.SyncPref"
            name="%page.name.sync">
      </page>
      <page
            class="org.imogene.rcp.core.preferences.DevicesPreferencePage"
            id="Imogene.DevicesPref"
            name="%page.name.device">
      </page>
      
      <page
            class="org.imogene.rcp.core.preferences.BackupPreferencePage"
            id="Imogene.Backup"
            name="Backup">
      </page>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.imogene.rcp.core.application"
            name="Imogene">
         <property
               name="appName"
               value="Imogene">
         </property>
      </product>
   </extension>
   <extension
         id="1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.imogene.rcp.core.application"
            name="Imogene">
         <property
               name="appName"
               value="Imogene">
         </property>
      </product>
   </extension>
   <extension
         id="ImogeneTest"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.imogene.rcp.core.application"
            name="ImogeneTest">
         <property
               name="appName"
               value="ImogeneTest">
         </property>
      </product>
   </extension>
   <extension
         id="testSynchro"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.imogene.rcp.core.application"
            name="ImogeneSynchroTest">
         <property
               name="appName"
               value="ImogeneSynchroTest">
         </property>
      </product>
   </extension>
</plugin>
